<div
  class="mx-auto my-4 lg:my-6 px-6 md:px-10 lg:px-20 w-full xl:max-w-screen-xl"
>
  <div class="flex justify-between items-center">
    <h3 class="text-green-950 text-3xl lg:text-5xl title-shadow">
      <span class="hidden md:block">Find your book</span>
      <span class="block md:hidden">book</span>
    </h3>

    <div class="flex items-center gap-3">
      @switch (stateService.currentUserSig()) {
        @case (null) {
          <lib-button
            [type]="BUTTON_TYPES.SECONDARY"
            [size]="BUTTON_SIZES.SMALL"
            (buttonClickEvent)="openModal(MODAL_NAMES.LOGIN)"
            text="Login"
            #login
          ></lib-button>
          @defer (on interaction(login)) {
            @if (stateService.modalSig()?.name === MODAL_NAMES.LOGIN) {
              <lib-modal><app-login></app-login></lib-modal>
            }
          }

          <lib-button
            [type]="BUTTON_TYPES.SECONDARY"
            [size]="BUTTON_SIZES.SMALL"
            (buttonClickEvent)="openModal(MODAL_NAMES.REGISTER)"
            text="Register"
            #register
          ></lib-button>
          @defer (on interaction(register)) {
            @if (stateService.modalSig()?.name === MODAL_NAMES.REGISTER) {
              <lib-modal><app-register></app-register></lib-modal>
            }
          }
        }
        @case (undefined) {
          <svg
            class="animate-spin h-5 w-5 text-green-950"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
          >
            <circle
              class="opacity-25"
              cx="12"
              cy="12"
              r="10"
              stroke="currentColor"
              stroke-width="4"
            ></circle>
            <path
              class="opacity-75"
              fill="currentColor"
              d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
            ></path>
          </svg>
        }
        @default {
          <div class="flex items-center">
            <p class="px-2 mr-2 text-center">
              ☺ {{ stateService.currentUserSig()?.username }}
            </p>
            <lib-button
              [type]="BUTTON_TYPES.SECONDARY"
              [size]="BUTTON_SIZES.SMALL"
              (buttonClickEvent)="logout()"
              text="Logout"
            ></lib-button>
          </div>
        }
      }
    </div>
  </div>

  <router-outlet></router-outlet>

  <div class="fixed bottom-0 right-0 hidden md:block">
    <svg width="320" height="300" xmlns="http://www.w3.org/2000/svg">
      <circle
        cx="100"
        cy="80"
        r="75"
        fill="none"
        stroke="#374151"
        stroke-width="2"
      />

      <rect
        x="190"
        y="30"
        width="75"
        height="75"
        fill="none"
        stroke="#e5e7eb"
        stroke-width="8"
      />

      <polygon
        points="230,250 50,60 240,90"
        fill="none"
        stroke="#052e16 "
        stroke-width="5"
      />
    </svg>
  </div>
</div>
